.create-account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  
  .create-account-card {
    width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  }
  
  mat-card-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  mat-card-subtitle {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  .success-message {
    color: green;
  }
  
  .error-message {
    color: red;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 5px;
  }
  
  .create-account-submit-button {
    width: 100%;
  }
  .create-account-submit-button:hover {
    background-color: green; /* Background color on hover */
    color: white; /* Text color on hover */
  }
  