<div class="login-container">
    <div class="image-container">
      <!-- Add an image or any content here -->
    </div>
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Trend Tracking System</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" required>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" required>
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
          <button mat-raised-button color="primary" class="login-button">Login</button>
          <label>Don't have an account?</label>
          <button mat-button color="accent" class="create-account-button" [routerLink]="['/create-account']">Create Account</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  