.login-container {
    display: flex;
    height: 100vh;
    background-color: #f5f5f5;
    background-color: white;
  }
  
  .image-container {
    flex: 1;
    background: url('/assets/background.avif') no-repeat center center;
    background-size: cover;
  }
  
  .login-card {
    width: 400px;
    margin: auto;
    margin-right: 20px;
    padding: 20px;
    flex: 0 0 400px;
    background-color: white;  /* Set background color to white */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  }
  
  mat-card-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .login-button {
    width: 100%;
    margin-bottom: 15px;
  }
  .login-button:hover {
    background-color: green; /* Background color on hover */
    color: white; /* Text color on hover */
  }
  
  .create-account-button {
    width: 100%;
    background-color: #007BFF; /* Background color on hover */
    color: white !important; /* Text color on hover */
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for color change */
  }
  
  .create-account-button:hover {
    background-color: green; /* Background color on hover */
    color: white; /* Text color on hover */
  }