<div class="top-bar">
  <div class="user-info">
    <span class="user-name">Welcome, {{username}}</span>
  </div>
  <button mat-button (click)="onLogout()">Logout</button>
</div>

<div class="filters">
  <mat-form-field appearance="fill">
    <mat-label>Select Year</mat-label>
    <mat-select [(value)]="selectedYear" (selectionChange)="onSelectionChange()">
      <mat-option value="">None</mat-option>
      <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select Month</mat-label>
    <mat-select [(value)]="selectedMonth" (selectionChange)="onSelectionChange()">
      <mat-option value="">None</mat-option>
      <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Select Store</mat-label>
    <mat-select [(value)]="selectedStoreName" (selectionChange)="onSelectionChange()">
      <mat-option value="">None</mat-option>
      <mat-option *ngFor="let store of storeNames" [value]="store">{{store}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select Product</mat-label>
    <mat-select [(value)]="selectedProductCategory" (selectionChange)="onSelectionChange()">
      <mat-option value="">None</mat-option>
      <mat-option *ngFor="let category of productCategories" [value]="category">{{category}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="section-header" *ngIf="selectedYear">Summary of Year: {{prevYear}}</div>
<div class="highlighted-labels" *ngIf="prevYear">
  <div class="highlighted-item" *ngFor="let item of PrevYrhighlightedItems">
    <span class="highlighted-label">{{item.label}}</span>
    <span class="highlighted-value">{{item.value}}</span>
  </div>
</div>

<div class="section-header" *ngIf="selectedYear">Summary of Year: {{selectedYear}}</div>
<div class="highlighted-labels" *ngIf="selectedYear">
  <div class="highlighted-item" *ngFor="let item of highlightedItems">
    <span class="highlighted-label">{{item.label}}</span>
    <span class="highlighted-value">{{item.value}}</span>
  </div>
</div>

<div class="charts" *ngIf="selectedYear">
  <div class="chart-container">
    <canvas id="lineChart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="barChart"></canvas>
  </div>
</div>
